.App{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
button{
  font-size: 20px;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: teal;
  color: whitesmoke;
  width: 200px;
  margin-right: 10px;
}button:hover{
  scale: 1.1;
  cursor: pointer;
}
h2{
  font-size: 40px;
  /* color: whitesmoke; */
}
.svg{
  padding-top: px;
}
.App.dark{
  background-color: #282c34;
  color: white;
}
.App.grey{
  background-color: gray;
  color: whitesmoke;
}
.App.pink{
  background-color: pink;
  color: rgb(50, 50, 50);
}
.App.light{
  background-color: rgb(255, 255, 255);
}

.AppTheme.dark{
  background-color: #282c34;
  color: white;
}
.AppTheme.grey{
  background-color: gray;
  color: whitesmoke;
}
.AppTheme.pink{
  background-color: pink;
  color: rgb(50, 50, 50);
}
.AppTheme.light{
  background-color: rgb(255, 255, 255);
}